body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

main {
  border: 1px solid #00a0b0;
  padding: 1em;
}

form {
    font-family: Verdana, Arial, sans-serif;
}

label {
   font-size: .75em;
   font-style: italic;
   font-weight: bold;
   padding-bottom: .25em;
}
label input {
  display: inline-block;
  margin-right: 1em;
}

header {
  position: relative;
  background-color: #00A0B0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 40px;
}

h1 {
  font-family: Lobster;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

label {
  display: block;
}

.top input, select {
  display: inline-block;
  margin-bottom: 1em;
}

.gender h2{
  margin-top: 1.5em;
}

div.category {
  margin-top: 1em;
}

footer {
  padding: .5em;
  border: 1px solid #00A0B0;
  margin-top: .25em;
}

.submit {
  padding: 2em;
  padding-left: 0;
  font-weight: bold;
}
.submit input {
  font-size: 1.2em;
  border: 1px solid black;
  padding: .25em;
  background-color: #00A0B0;
  border-radius: 15px;
  width: 5em;
}
